$font-primary: 'abchanel-pb-s', Arial, Helvetica, sans-serif;
$font-secondary: "Futura-pt", "sans-serif-light", sans-serif;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;


%h2-mobile {
  font-family: $font-primary;
  padding: 25vw 0 12.5vw;
  width: 100%;
  font-size: 8vw;
  text-align: center;
}

%p-mobile {
  font-family: $font-secondary;
  font-size: 2.3vw;
  line-height: 20px;
  width: 62vw;
  margin: auto;
  padding-bottom: 190px;
}

%btn-cta {
  color: white;
  background-color: black;
  padding: 20px 0;
  text-align: center;
  width: 40vw;
  margin: auto;
  display: flex;
  margin-top: -26px;
  justify-content: center;
  font-size: 10pt;
  font-family: $font-primary;
}

body {
  overflow-x: hidden;
}

#PR {
  width: 100%;
  transition: margin-left .5s cubic-bezier(0.87, 0, 0.29, 1);
  #PRR {
    transition: .87s;
  }
  #main-nav {
    display: flex !important;
    background-color: white;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 999999;
    align-items: center;
    right: 0;
    overflow: auto;

    div {
      overflow: hidden;
      width: 100vw;
      display: flex;

      #main-title-nav {
        display: none;
      }

      ul {
        display: flex;
        justify-content: space-around;
        font-family: $font-primary;
        margin: auto;
        transition: margin-left .5s cubic-bezier(0.87, 0, 0.29, 1);
        width: fit-content;
        margin-left: 0;
        // position: relative;
        li {
          padding: 0 5px;
          font-size: 4vw;
          text-decoration: underline;
          width: 100vw;
          text-align: center;
          div {
            display: block;
          }

          a {
            width: 100vw;
          }
        }
      }
    }

    span {
      cursor: pointer;

      img {
        width: 20px;
      }
    }

    #next {
      padding-right: 50px;
    }

    #prev {
      padding-left: 50px;
      position: absolute;
    }
  }

  .swiper-container {
    width: 600px;
    height: 300px;
  }

  #paris-riviera {
    width: 100%;
    margin-top: 70px;

    figure {
      background-image: url('../images/paysage-header-mobile.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 76vw;
      width: 100%;
      display: flex;
      align-items: center;

      #div-flacon-mobile {
        width: 100%;
        margin: auto;
        background-image: url('../images/flacon-riviera-mobile.png');
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      #flacon-desktop {
        display: none;
      }
    }

    #cta-PR {
      position: absolute;
      width: 100%;
      opacity: 1;

      a {
        @extend %btn-cta;
      }
    }

    #etiquette {
      display: none;
    }
  }

  #ingredient {
    background-image: url('../images/Ingredient_PR.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 237vw;
    width: 100%;

    h2,
    p {
      text-align: center;
    }

    h2 {
      @extend %h2-mobile;
    }

    p {
      @extend %p-mobile;
    }
  }

  #inspiration {
    h2,
    p {
      text-align: center;
    }

    h2 {
      @extend %h2-mobile;
    }

    p {
      @extend %p-mobile;
      padding-bottom: 0;
    }

    figure {
      figcaption {
        @extend %p-mobile;
        padding: 95px 0;
        text-align: center;
      }
    }
  }

  #polge {
    position: relative;

    #polge-bg {
      background-image: url('../images/paysage-PR-mobile.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top left;
      height: 100vw;
      width: 100%;
      transition: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $font-primary;
      font-size: 4vw;
    }

    #polge-txt {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      position: absolute;
      text-align: center;
      top: 4vw;

      blockquote {
        @extend %p-mobile;
        width: 100%;
        font-family: $font-primary;
        font-size: 3.3vw;
        line-height: 20px;
        margin: 0 0 40px;
        padding: 0;
      }

      p {
        font-size: 2.3vw;
        margin-top: 0;
      }
    }
  }

  #back-to-top-div {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    font-family: $font-primary;
    font-size: 13pt;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      border: 1px solid black;
      margin-right: 10px;
      border-radius: 100px;
      padding: 2px 15px;
    }
  }

  #les-eaux-de-chanel {
    background-image: url('../images/FOND.jpg');
    padding-bottom: 1px;

    h2 {
      @extend %h2-mobile;
    }

    span {
      @extend %btn-cta;
      margin: 95px auto 190px;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  body {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;
    transition: 2s;
  }

  #PR {
    margin-left: 0;

    #main-nav {
      display: flex !important;
      background-color: white;
      height: 70px;
      position: fixed;
      width: 100%;
      z-index: 999999;
      overflow: hidden;
      span {
        display: none;
      }

      div {
        width: 100%;
        #main-title-nav {
          display: block;
          font-size: 1.5vw;
          font-family: $font-primary;
          text-align: center;
          width: 50%;
          padding-left: 25px;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin: auto;
          font-family: $font-primary;
          padding-right: 15px;
          width: 50%;

          li {
            padding: 0 5px;
            font-size: 0.7vw;
            display: block;
            width: auto;
          }

        }
      }
    }

    #paris-riviera {
      .overlay {
        width: 50%;
        height: 100px;
        background-color: red;
      }
      figure {
        background-image: url('../images/paysage-header-desktop.jpg');
        height: 36vw;

        #div-flacon-desktop {
          width: 100%;
          margin: auto;
          background-image: url('../images/flacon-riviera-desktop.png');
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        #div-flacon-mobile {
          display: none;
        }

        #flacon-desktop {
          display: block;
        }
      }

      #cta-PR {
        z-index: 98;
        opacity: 0;

        a {
          margin-top: -9vw;
          width: 17vw;
          padding: 10px 0;
        }
      }

      #etiquette {
        position: absolute;
        width: 100%;
        height: 300px;
        opacity: 0;

        img {
          margin-top: -36.1vw;
          margin-left: 11.7999vw;
          width: 75.5vw;
        }
      }
    }

    #ingredient {
      background-image: url('../images/ingredient_PR_desktop.jpg');
      height: 136vw;

      h2 {
        font-size: 2.5vw;
        padding: 16vw 0 6vw;
      }

      p {
        font-size: 1.3vw;
        width: 35.8vw;
        line-height: 2.5vw;
      }
    }

    #inspiration {
      h2 {
        font-size: 2.5vw;
        padding: 16vw 0 6vw;
      }

      p {
        font-size: 1.3vw;
        padding-bottom: 50px;
        line-height: 2.5vw;
      }

      figure {
        width: 70%;
        margin: auto;

        figcaption {
          width: 100%;
          font-size: 1vw;
          line-height: 2.5vw;
          padding: 20px 0 135px;
        }
      }
    }

    #polge {
      #polge-bg {
        background-image: url('../images/paysage-PR-desktop.jpg');
        background-attachment: fixed;
        background-position: top;
        height: 70vw;
      }

      #polge-txt {
        blockquote {
          font-size: 2.5vw;
          line-height: 5vw;
        }

        p {
          font-size: 1vw;
          line-height: 2.5vw;
        }
      }
    }

    #les-eaux-de-chanel {
      cursor: pointer;

      h2 {
        font-size: 2.5vw;
        padding: 16vw 0 6vw;
      }
    }

    #back-to-top-div {
      display: none;
    }
  }
}
@media (min-width: 1160px) {
  #PR {
    #main-nav {
      top: 137px;

      ul {
        #main-title-nav {
          font-size: 2vw;
        }

        li {
          font-size: 0.7vw;
        }
      }
    }
  }
}
