<section id="PR">
 <nav id="main-nav">
    <span id="prev">
        <img src="./images/chevron-left.svg" alt="">
      </span>
    <div class="">
      <span id="main-title-nav">les eaux de chanel</span>
      <ul class="menu-slide">
        <li id="h1-PR" class="active"><h1>
          <a href="#">
          paris - riviera
          </a>
        </h1></li>
        <li id="h1-PV"><div>
          <a href="#">
          paris - venise
          </a>
        </div></li>
        <li id="h1-PD"><div>
          <a href="#">
          paris - deauville
          </a>
        </div></li>
        <li id="h1-PB"><div>
          <a href="#">
          paris - biarritz
          </a>
        </div></li>
      </ul>

    </div>
    <span id="next">
      <img src="./images/chevron.svg" alt="">
    </span>

  </nav>

<div id="PRR">

  <article id="paris-riviera">

    <figure>
      <div id="div-flacon-mobile">
      </div>
      <div id="div-flacon-desktop">
      </div>
    </figure>
    <div id="etiquette"><img src="./images/etiquette_PR.png" alt=""></div>
    <div id="cta-PR"><a href="">COMMANDER</a></div>
  </article>

  <article class="" id="ingredient">
    <h2>la fragrance</h2>
    <p>Une fragrance lumineuse, où se rencontrent la fraîcheur douce et acidulée de l'orange de Sicile et la délicatesse du néroli. En édition limitée.
    </p>
  </article>



  <article id="inspiration">
    <h2>l'inspiration</h2>
    <p>1928. Gabrielle Chanel fait construire sa <br> maison de vacances sur la Côte d'Azur. Avec <br> ses paysages éblouissants et sa vie mondaine <br> exaltante, la French Riviera est devenue le <br> nouveau lieu de rendez-vous. PARIS-RIVIERA <br> évoque
      cette douceur de vivre à travers un <br> sillage floral et solaire.</p>
    <figure>
      <img src="./images/riviera_patrimoine.jpg" alt="">
      <figcaption>Gabrielle Chanel et sa tante Adrienne devant la <br>Boutique CHANEL à Deauville, 1913</figcaption>
    </figure>
  </article>


  <article id="polge">
    <div id="polge-bg">
    </div>
    <div id="polge-txt">
      <blockquote>
        « PARIS-RIVIERA est une <br> fragrance florale et
        <br> lumineuse à l’image de l’esprit
        <br> joyeux et ensoleillé de la Côte
        <br>d’Azur des années 20. »
      </blockquote>
      <p>Olivier Polge</p>
    </div>
  </article>

  <article id="les-eaux-de-chanel" class="product">
    <a href="https://www.facebook.com"><h2>les eaux <br> de chanel</h2></a>
    <figure>
      <img src="./images/Gamme.jpg" alt="">
    </figure>
    <span>découvrir la collection</span>
  </article>

  <div id="back-to-top-div">
    <a href="#PR"><i></i></a>
    <p>back to top</p>
  </div>
</div>

</section>
